<div>
    <p>parent-component works!</p>
    <input type="text" [(ngModel)]="message_parent">
    <p>The parent counter: {{counter_parent}}</p>
    <button type="button" (click)="updateText()">pass text from child</button>
    <p>The text in child component: {{text_parent}}</p>
    <button type="button" (click)="toggle()">Toggle the child component below</button>
    <app-child-component *ngIf="show" #child [message_child]= "message_parent" (counterEvent)="receiveCounter($event)"></app-child-component>
</div>